<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팀로그 방프</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <!-- 누군가 프엔과 디자인을 해줄 것이라 믿음 -->
    <h2>
        <span>현재 사용자 ID : </span>
        <span id="user_id">woneal</span> <!--현재 사용자 아이디 -> 아마 백엔에서 처리?-->
    </h2>

    <select name="select_phonton" id="select_phonton">
        <option value="+">+</option>
        <option value="x">x</option>
    </select>


    <form id="simulation">
        <label for="text_send">보낼 메시지 : </label>
        <input type="text" id="text_send" name="message">

        <br>

        <label for="target">보낼 사용자 ID : </label>
        <input type="text" id="target" name="target_id"> 

        <br>

        <button type="submit" id="submit_btn">시뮬레이션 시작</button>
    </form>

    <h3 id="ouput_window"></h3>
    <script type="module" src="/SCRIPT/main.js"></script>
</body>
</html>